<%- include('layout', { title: 'Guide', content: `
    <h1>This is the GUIDE section</h1>
    <p>This page is still under construction</p>
    <p>The developer will show "How the system is used".</p>
` }) %>
